/* Write your CSS here */
.suggestion-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  width: 25px;
}

.arrow-button {
  background-color: #ffffff;
  color: #475569;
  border: none;
  margin-left: 10px;
}

@media (min-width:768px) {
  .arrow{
    width: 30px;
  }
}